body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

nav {
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border-bottom: solid 1px lightgrey;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}

.navbar-nav-brand {
    align-self: center;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color: black;
    padding-left: 10px;
}

.navbar-nav-item {
    color: black;
    justify-content: center;
}

.navbar-container {
    display: flex;
    width: 96%;
    height: 100%;
    padding: 0.5% 2% 0.5% 2%;
}

.navbar-link-container {
    align-self: center;
    margin-left: auto;

}

.navbar-link-container a {
    margin-right: 3em;

}

#root {
    background: url(./assets/nmvw_splash.jpg) no-repeat center center fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;

}

.container {
    height: 92vh;
    width: 100vw;
    background-color: black;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.container-title {
    width: 30%;
    height: 15%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-title {
    font-family: 'Lato', sans-serif;
}

.start-container {
    height: 70vh;
    width: 80vw;
    background-color: #FFF;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-img {
    height: 30vh;
    width: auto;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timeline {
    display: flex;
    width: 70vw;
    height: 40vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    left: 5vw;

}

.timeline-inside {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    height: 4px;
    background-color: black;
    width: 100%;
}

.dot {
    transition: 300ms transform;
    border-radius: 999px;
    background-color: black;
    height: 1em;
    width: 1em;
    z-index: 10;
}

.dot:hover {
    transition: 300ms transform;
    cursor: pointer;
    transform: scale(1.5);
}

.dot a {
    margin-top: 1em;
    position: absolute;
}